.partners {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #1b2a41;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.partners > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .partners > * {
    grid-column: 4;
  }
}
.embedHtml__oOsHb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin-bottom: 0px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  justify-self: flex-start;
  margin-top: 10px;
  background: none;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.link__czZt7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.slateArro {
  object-fit: cover;
  height: 40px;
}
.slateArro > picture > img {
  object-fit: cover;
}
.img__ags7Q {
  object-fit: cover;
}
.img__ags7Q > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ags7Q {
    object-position: 50% 50%;
    object-fit: cover;
    width: var(--token-qEFKl5RzFF6Z);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ags7Q > picture > img {
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.img__fn9Gm {
  object-fit: cover;
}
.img__fn9Gm > picture > img {
  object-fit: cover;
}
.link__r5Gox {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.link___7XljM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.link__fki5Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.link__kwhCi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.link__nExNm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.button__nTSh:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 25px;
}
.text__eoG2M {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #1b2a41;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  width: auto;
  padding-right: 0px;
}
.svg__iv8PZ {
  position: relative;
  color: #8e2b2b9e;
  height: 1em;
}
.embedHtml__zcKsl:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin-bottom: 0px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox___8VSEt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  position: relative;
  width: 100%;
  row-gap: 32px;
  background: #f2e5d5;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 50px 15px 20px;
}
.freeBox__mMsJ3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  row-gap: 32px;
  padding-bottom: 30px;
}
.text___9C4Iq {
  height: auto;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  color: #1b2a41d9;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9C4Iq {
    font-size: 25px;
  }
}
.text__rZsOg {
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #1b2a41d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rZsOg {
    text-align: left;
    color: #1b2a41d9;
    font-size: 16px;
  }
}
.button___8ZuvI:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__bjWdy {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #1b2a41;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  width: auto;
  padding-right: 0px;
}
.svg__r88QT {
  position: relative;
  color: #8e2b2b9e;
  height: 1em;
}
.ecosystemFooter3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 64px;
}
.columns {
  display: flex;
  position: relative;
  max-width: 1451px;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 64px;
  min-width: 0;
  --plsmc-rc-col-gap: 64px;
}
.columns > :nth-child(5n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(5n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(5n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 5) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 64px;
    min-width: 0;
    --plsmc-rc-col-gap: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ns3YV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  padding-left: 73px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ns3YV {
    width: 100%;
    padding-left: 0px;
  }
}
.freeBox__ffiyM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  row-gap: 32px;
  max-width: 160px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ffiyM {
    align-self: flex-end;
    max-width: 124px;
    width: 100%;
    min-width: 0;
  }
}
.img__edSpK {
  object-fit: cover;
  width: 90px;
  height: 90px;
  position: relative;
  opacity: 1;
  margin-left: 0px;
  align-self: center;
  flex-shrink: 0;
}
.img__edSpK > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__edSpK {
    align-self: flex-end;
  }
}
.freeBox__vww3K {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
}
.text__vtgB1 {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #d0d0d0d9;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__tq6Rs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  column-gap: 16px;
}
.svg__pXkhB {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #d0d0d099;
  flex-shrink: 0;
}
.svg__gf3SJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #d0d0d099;
  flex-shrink: 0;
}
.svg__ahUx {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #d0d0d099;
  flex-shrink: 0;
}
.column__eOOqh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  padding-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eOOqh {
    width: 100%;
    padding-left: 0px;
  }
}
.freeBox__jauGs {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jauGs {
    align-items: flex-end;
  }
}
.text___7E2Eu {
  position: relative;
  left: auto;
  top: auto;
  color: #f2e5d599;
  height: auto;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___1Mqxz {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__iXzx3 {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__xQYxK {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__xvepe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xvepe {
    width: 100%;
  }
}
.freeBox__kFipx {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kFipx {
    align-items: flex-end;
  }
}
.text__duEB {
  position: relative;
  left: auto;
  top: auto;
  color: #f2e5d599;
  height: auto;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__o9AWw {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__xa39I {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__bXxq {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__sIZn {
  color: #d0d0d0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___0BjVf {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__ju4Mi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ju4Mi {
    width: 100%;
  }
}
.freeBox__mp9Uv {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mp9Uv {
    align-items: flex-end;
  }
}
.text__jlmAn {
  position: relative;
  left: auto;
  top: auto;
  color: #f2e5d599;
  height: auto;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__lq5ZE {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lq5ZE {
    text-align: right;
  }
}
.link__j1Ew9 {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__j1Ew9 {
    text-align: right;
  }
}
.link__t4JQk {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__t4JQk {
    text-align: right;
  }
}
.column__uPbOj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uPbOj {
    padding-left: 0px;
    padding-top: 0px;
  }
}
.link__lmFpW {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 30px;
  padding-bottom: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lmFpW {
    padding-top: 0px;
    max-width: 316px;
    width: 100%;
    text-align: right;
    min-width: 0;
  }
}
.link__iPbwj {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 0px;
  padding-bottom: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__iPbwj {
    text-align: right;
  }
}
.link__mvLef {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__mvLef {
    text-align: right;
  }
}
