.stories {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #1b2a41;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.stories > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .stories > * {
    grid-column: 4;
  }
}
.embedHtml___2Rtaf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin-bottom: 0px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0px;
  max-width: 100%;
  object-fit: cover;
  justify-self: flex-start;
  margin-top: 10px;
  background: none;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navigationBar:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.link__qh2NX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.slateArro {
  object-fit: cover;
  height: 40px;
}
.slateArro > picture > img {
  object-fit: cover;
}
.img__vQxeJ {
  object-fit: cover;
}
.img__vQxeJ > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vQxeJ {
    object-position: 50% 50%;
    object-fit: cover;
    width: var(--token-qEFKl5RzFF6Z);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vQxeJ > picture > img {
    object-fit: cover;
    object-position: 50% 50%;
  }
}
.img__lnxOn {
  object-fit: cover;
}
.img__lnxOn > picture > img {
  object-fit: cover;
}
.link__iQuFg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.link__sKMcn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.link__rqUfj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.link__vSkPh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.link__voe0B {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 15px;
}
.button__pg4F:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 25px;
}
.text__egN0U {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #1b2a41;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  width: auto;
  padding-right: 0px;
}
.svg___4778N {
  position: relative;
  color: #8e2b2b9e;
  height: 1em;
}
.embedHtml__njv3S:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin-bottom: 0px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__vlgao {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  padding-bottom: 30px;
  background: #f2e5d5;
}
.text__mmhgn {
  height: auto;
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  font-weight: 700;
  font-style: normal;
  color: #1b2a41d9;
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  width: 100%;
  background: none;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mmhgn {
    font-size: 20px;
    padding-top: 15px;
    padding-left: 5px;
  }
}
.text__bmTGy {
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #1b2a41d9;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bmTGy {
    text-align: right;
    color: #1b2a41d9;
    font-size: 16px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
.button__br6Fz:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___2NvSu {
  white-space: pre;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #1b2a41;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  width: auto;
  padding-right: 0px;
}
.svg__mpy8I {
  position: relative;
  color: #8e2b2b9e;
  height: 1em;
}
.ecosystemFooter2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 64px;
}
.columns {
  display: flex;
  position: relative;
  max-width: 1451px;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 64px;
  min-width: 0;
  --plsmc-rc-col-gap: 64px;
}
.columns > :nth-child(5n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(5n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :nth-child(5n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(5n + 5) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 64px;
    min-width: 0;
    --plsmc-rc-col-gap: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8C6K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  padding-left: 73px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___8C6K {
    width: 100%;
  }
}
.freeBox__kCxNj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  row-gap: 32px;
  max-width: 160px;
  min-width: 0;
}
.img__hhrvS {
  object-fit: cover;
  width: 90px;
  height: 90px;
  position: relative;
  opacity: 1;
  margin-left: 0px;
  align-self: center;
  flex-shrink: 0;
}
.img__hhrvS > picture > img {
  object-fit: cover;
}
.freeBox__vYi8Y {
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
}
.text___8UH2P {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #d0d0d0d9;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__hcqWz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  column-gap: 16px;
}
.svg___19IOj {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #d0d0d099;
  flex-shrink: 0;
}
.svg__hZgh {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #d0d0d099;
  flex-shrink: 0;
}
.svg__o8XGy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #d0d0d099;
  flex-shrink: 0;
}
.column__sgHzg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  padding-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__sgHzg {
    width: 100%;
    padding-left: 0px;
  }
}
.freeBox__tct2Y {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
}
.text__ciTrO {
  position: relative;
  left: auto;
  top: auto;
  color: #f2e5d599;
  height: auto;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__nJkce {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__itUc2 {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___0RqHx {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__unVpM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__unVpM {
    width: 100%;
  }
}
.freeBox__dlCtr {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
}
.text__nvvm9 {
  position: relative;
  left: auto;
  top: auto;
  color: #f2e5d599;
  height: auto;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__li958 {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__lkYCm {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__jBn2O {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__bz8F {
  color: #d0d0d0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__ufjon {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__cztXq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__cztXq {
    width: 100%;
  }
}
.freeBox__ecyZb {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
}
.text__l5YY5 {
  position: relative;
  left: auto;
  top: auto;
  color: #f2e5d599;
  height: auto;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___6LK8 {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__vSv1 {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__gy8 {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.column__peOZm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__peOZm {
    padding-left: 0px;
    padding-top: 0px;
  }
}
.link__t5GZ {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 30px;
  padding-bottom: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__t5GZ {
    padding-top: 0px;
    max-width: 316px;
    width: 100%;
    min-width: 0;
  }
}
.link__fdF7I {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 0px;
  padding-bottom: 15px;
}
.link__kOFtT {
  color: #d0d0d0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-left: 0px;
}
